@media only screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }

  .inter-font {
    font-family: "Inter", sans-serif;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }

  .nav-branding {
    color: #28352f;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 28px;
    text-decoration: none;
    margin-left: 24px;
    margin-top: 54px;
    text-align: center;
  }

  .humburger {
    display: block;
    margin-right: 40px;
    margin-top: 54px;
  }

  .humburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 3px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #28352f;
    border: 2px solid #acb7c3;
  }

  .headline {
    height: 648px;
    background-image: url(/assets/images/header-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    padding: 64px 24px;
  }

  .headline h1 {
    margin-top: 444px;
    width: 80%;
    margin-left: 30px;
  }

  .greenTxt {
    display: block;
    margin-left: 24px;
    margin-top: 20px;
    color: #36b37f;
  }

  p {
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    width: 90%;
    margin-left: 24px;
  }

  .socialMedia {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .twitter {
    position: absolute;
    left: 27.31%;
    right: 67.36%;
    top: 67.83%;
    bottom: 23.42%;
    width: 20px;
  }

  .linkedin {
    position: absolute;
    width: 20px;
    left: 37.71%;
    right: 60.96%;
    top: 67.69%;
    bottom: 23.42%;
  }

  .meduim {
    position: absolute;
    left: 48.38%;
    right: 46.29%;
    top: 67.69%;
    bottom: 23.69%;
  }

  .github {
    position: absolute;
    left: 59.04%;
    right: 36.16%;
    top: 67.69%;
    bottom: 23.42%;
  }

  .angleList {
    position: absolute;
    left: 68.91%;
    right: 27.31%;
    top: 67.69%;
    bottom: 23.42%;
  }

  .moreWorks {
    text-align: center;
  }

  .moreWorks a img {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: calc(50% - 40px / 2 + 0.5px);
    bottom: 180px;
  }

  .moreWorks h1 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-top: 150px;
    padding-top: 30px;
    text-align: center;
  }
}
